
.notes-app {
    border: 1px solid blue;
  
  }
.list-notes {
    border: 1px solid rgb(196, 12, 43);
    display: flex; 
    align-items: center;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    background-color: wheat;
  }

.card-container {
    border: 1px solid rgb(29, 29, 22);
    width: 330px;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    }

.card {
    height: 34S0px;
    padding: 5px;
    }
.date {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.tombol {
    display: flex;
    justify-content: space-between;
}
.notes-input {
    margin: auto;
    border: 1px solid blue;
    width: 700px;
    border-radius: 8px;
    padding: 15px;
   
}
.input-title {
    width: 100%;
    height: 50px;
    color: rgb(0, 0, 44);
    padding: 10px;
    border: 1px solid rgb(0, 174, 255);
    border-radius: 5px;
    margin-bottom: 10px;
}
.input-body {
    width: 100%;
    height: 200px;
    color: rgb(0, 0, 44);
    border: 1px solid rgb(9, 17, 20);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 180px;
}
.btn-add {
    width: 100%;
    height: 30px;
}