@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kalam&display=swap");

body {
  margin: 0px;
  padding: 0px;
}
.root-container {
  background-color: #0f0e17;
  padding-top: 20px;
}
.navbar {
  background-color: #ff8906;
  border: 1px solid red;
}
.navbar-brand {
  color: white;
  font-size: 28px;
  font-family: "Bebas Neue", sans-serif;
}
.logo-note {
  border-radius: 50%;
  margin-right: 6px;
}
/* add notes */
.daftar-notes {
  justify-content: center;
}
.add-notes {
  margin-top: 10px;
}

.notes-input {
  margin: auto;
  border: none !important;
  border-style: none;
  width: 700px;
  padding: 15px;
}
.input-title {
  width: 100%;
  height: 50px;
  color: rgb(0, 0, 44);
  padding: 10px;
  border: 1px solid rgb(0, 174, 255);
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  font-weight: 500;
}
.input-body {
  width: 100%;
  height: 120px;
  color: rgb(0, 0, 44);
  border: 1px solid rgb(9, 17, 20);
  border-radius: 5px;
  margin-bottom: 10px;
  padding-bottom: 80px;
  padding-left: 10px;
  outline: none;
  border: none;
}
.btn-add {
  width: 100%;
  height: 30px;
  background-color: #ff8906 !important;
  border: none;
}
.character-count {
  color: white;
  justify-content: center;
  align-items: center;
}

/* notes active */
.list-notes {
  align-items: center;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px;
  gap: 30px;
}

.card:hover {
  box-sizing: border-box;
  box-shadow: 4px 3px 8px 0px #ff8906;
}
.card {
  border: 2px solid #ff8b0671;
  height: auto;
  padding: 5px;
  width: 330px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.date {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.tombol {
  display: flex;
  justify-content: space-between;
}
.notes-notfound {
  color: #ff8906;
  font-family: "Kalam", cursive;
}
.daftar-notes {
  margin-top: 30px;
}
.daftar-notes h5 {
  text-align: left;
  padding-left: 150px;
  padding-bottom: 0;
}
h5 {
  color: #fffffe;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 28px;
}
p {
  font-family: "Kalam", cursive;
}

/*archive*/
.cont-archive {
  align-items: center;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 100px;
  gap: 30px;
}
.card-archived {
  height: auto;
  padding: 5px;
  width: 330px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.archive-notfoun {
  color: #ff8906;
  font-family: "Kalam", cursive;
}
